*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.adminpage{
    min-height: 200vh;
    background-image: linear-gradient(rgba(77, 70, 71, 0.5),rgba(152, 89, 152, 0.25)),url(photo/cover.jfif);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.navbar{
    width:90%;
    margin:auto;
    top: 20px;
    padding:35px 0;
    padding-bottom: 0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:static;
}
.logo{
    width:100px;
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style:none;
    font-size: large;
    display:inline-block;
    margin: 0 20px;
     position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background: peachpuff;
    position: absolute; 
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
/* .navbar ul li:hover::after{
    width:100%;
} */
.navbar ul li:not(.last):hover::after{
    width:100%;
}
.adminform{
    margin-top: 70px;
    margin-left: 525px;
    justify-content:center;
     box-sizing: border-box;
    max-width: 500px;
    /* max-height:100%; */
    width:100%;
     background-color:#efe7c7;
    padding:25px 30px; 
    border-radius: 5px;
    
    }
     .adminform .formtitle{
        font-size: 25px;
        font-weight: 500;
        margin-top: 5px;
    }
     form .admin-details{
     /* display:flex; */
     flex-wrap: wrap; 
     justify-content: space-between;
     }

    .input-box{
        width: calc(100% /2 - 20px) ;
     }
     .input-box input{
        height:35px;
        width:100%;
     }
     .details{
        display:block;
        font-weight: 500;
        margin-top: 10px;;
        margin-bottom: 5px;
        flex-direction: row;
     }
     .button{
        height:35px;
        margin:25px 0;
     }
     .button input{
        height:100%;
        width:100%;
        outline: none;
        border:none;
        font-size:18px;
        font-weight:500;
        border-radius: 5px;
        letter-spacing: 1px;
        background:linear-gradient(135deg,#93A5CF,#d0d5d2)
     }
    
     .button input:hover{
        background: linear-gradient(-135deg,#93A5CF,#d0d5d2);
     }
     /* bookeddb css */
     .abooked{
        background-image: linear-gradient(rgba(77, 70, 71, 0.5),rgba(152, 89, 152, 0.25)),url(photo/cover.jfif); 
        background-size: cover;
        min-height:300vh;
        justify-content: center;
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        
     }
     .abooktb h1{
        position: absolute;
        left:40%;
        top:30%;
        color:white;
        font-weight: 500;
        
     }
     
     .abooktb table{
        width:90%;
        align-items: center;
        margin-top: 50px;
        /* margin-left: 50px; */
        position:absolute;
        left:5%;
        top:35%;
        font-size: larger;
        font-weight: 200;
        justify-content: space-between;
       border-color: #efe7c7;
       border-spacing: 5px;
       border-color: black;
       background-color: #efe7c7;
     }
     .abooktbu table{
        /* width:90%; */
        align-items: center;
        margin-top: 50px;
        /* margin-left: 50px; */
        position:absolute;
        left:35%;
        top:35%;
        font-size: larger;
        font-weight: 200;
        justify-content: space-between;
       border-color: #efe7c7;
       border-spacing: 5px;
       border-color: black;
       background-color: #efe7c7;
     }
     .abooktbu h1{
        position: absolute;
        left:40%;
        top:30%;
        color:white;
        font-weight: 500;
        
     }
     
     

