/* Dropdown Button */
.dropbtn {
    /* background-color:; */
    color:rgb(255, 255, 255);
    padding: 5px 30px;
    font-size: 25px; 
    font-weight:500;
    border-style: groove;
    border-color: rgb(118, 156, 190);
    border-radius: 20px;
    background:transparent;
  }
  .dropbtn:hover{
    color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 5px 10px 5px 70px;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:rgb(171, 202, 229);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #e6eee6;}