* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.front {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(77, 70, 71, 0.5), rgba(152, 89, 152, 0.25)), url(photo/cover.jfif);
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.ufront {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(77, 70, 71, 0.5), rgba(152, 89, 152, 0.25)), url(photo/cover.jfif);
    /* background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 25%)), url(photo/cover.jfif); */
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px);
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 8px 0;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
}

.logo {
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.navbar ul li {
    list-style: none;
    font-size: large;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: peachpuff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:not(.last):hover::after {
    width: 100%;
}

/* .navbar ul li:last-child :hover::after{
    width:0%;
} */
.heading {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
}

.heading h1 {
    font-size: 40px;
    margin-top: 25px;
}

.heading p {
    margin: 20px;
    font-weight: 190;
    line-height: 10px;
}

.heading button {
    text-decoration: none;
    margin-top: 10px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid peachpuff;
    background: transparent;
}

.heading button a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: white;
}

/* Css of about us page */

.about,
.vbody,
.service-body,
.contact-body,
.apply-body {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(77, 70, 71, 0.5), rgba(152, 89, 152, 0.25)), url(photo/cover.jfif); */
    background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 25%)), url(photo/cover.jfif);
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);

}

.content {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

.content h1 {
    font-stretch: extra-expanded;
    font-weight: lighter;
    font-size: xxx-large;
}

.content p {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    font-stretch: extra-expanded;
    font-weight: lighter;

}

/* body{
    background-image: linear-gradient(rgba(95, 93, 93, 0.519),rgba(114, 114, 114, 0.75)),url(cover2.jpg); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
} */

/* Css of gallery */
.image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(77, 70, 71, 0.5), rgba(152, 89, 152, 0.25)), url(photo/cover.jfif);
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

.gallery {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 328px;
    object-fit: cover;
    /* padding: 10px; */
    object-position: center;
    transition: transform 0.3s ease;
    border-radius: 20px;
    margin: 10px;
    border: 5px solid rgb(239, 217, 217);
}

.gallery img:hover {
    cursor: pointer;
    transform: translateY(-6px);
    /* slightly zoom in */
}

/* css for service page*/
.whole {
    background: linear-gradient(rgba(95, 93, 93, 0.519), rgba(114, 114, 114, 0.75)), url(photo/aboutBg2.jpg);
    background-size: cover;
    height: 100vh;
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.event h1 {
    font-size: xxx-large;
    color: white;
    margin: 25px;
    text-align: center;
    font-weight: 500;
}

.content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 50px;
}

.card {
    min-height: 240px;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 10px;
    box-shadow: 0px 15px 30px rgba(249, 247, 247, 0);
    transition: transform 0.3s ease;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-6px);
}

.card h2 {
    margin-bottom: 10px;
    font-weight: 400px;
}

.card p {
    text-align: justify;
    word-spacing: -1px;
    color: rgb(68, 68, 68);
}

.card button {
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(21, 20, 19);
    background: transparent;


}

.card button a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(109, 149, 218);
}

.card button :hover {
    cursor: pointer;
    color: rgb(28, 100, 224);
}

/* css for contact us */
.headingcon {
    margin: 0;
    padding: 0;
    width: 100%;
    /*
    max-width: 800px; */
    align-items: center;
    text-align: center;
    color: #fff;
    /* justify-content: space-between; */

}

.headingcon h2 {
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}

.headingcon p {
    font-size: large;

}

.container {
    position: relative;
    padding: 20px;
    display: flex;
    /* justify-content: left; */
}

.text {
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    align-items: left;
    font-size: 22px;
    margin-left: 20px;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
}

.map {
    align-items: right;
    justify-content: right;

}

.map img {
    margin-top: 10px;
    width: 800px;
    margin-left: 120px;
    display: flex;
    object-fit: cover;

}

/*css for apply form*/
.booking {
    display: flex;
    /* height:100vh; */
    /* justify-content:space-between; */
    /* padding-top:90px; */
    /* box-sizing:border-box; */
}

.view {
    display: flex;
    align-items: left;
    font-weight: 500;
    color: #fff;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 90px;
    padding-top: 150px;
}

.cbooktb {
    align-items: center;
    margin-top: 20px;
    margin-left: 5%;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    background-color: #93A5CF;
    border-color: antiquewhite;
    border-spacing: 5px;
    width: 500px;
}

/* .view ul li{
    list-style: none;
    display:flex;
}

.view ul li a{
    display:flex;
    flex-direction: column;
    color: white;
    font-weight: 500;
    font-size: x-large;
    justify-content: space-between;
    margin-bottom: 10px;
} */
.applyform {
    align-items: center;
    max-width: 700px;
    width: 100%;
    background-color: rgb(237, 233, 228);
    padding: 25px 30px;
    border-radius: 20px;
    margin-top: 50px;
}

.applyform input {
    padding-left: 5px;
}

.applyform .applytitle {
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
}

form .user-details,
.services-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    width: calc(100% /2 - 20px);
}

.details {
    display: block;
    font-weight: 500;
    margin-top: 10px;
    ;
    margin-bottom: 5px;
    flex-direction: row;
}

.levent,
.lvenue,
.lpriest {
    width: calc(100% /2 - 20px);
}

.levent select,
input {
    height: 35px;
    width: 100%;
}

.levent select {
    width: calc(100% + 6px);
}

.button {
    height: 35px;
    margin: 25px 0;
}

.button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #93A5CF, #d0d5d2);
}

.button input:hover {
    background: linear-gradient(-135deg, #93A5CF, #d0d5d2);
}

/* booked page css */
/* .booked{
        background-image: linear-gradient(135deg,rgba(147, 165, 207, 0.45) ,rgba(147, 165, 207, 0.65)),url(photo/aboutBg2.jpg); 
        background-size: cover;
        min-height:100vh;
        
     }
     .booked .cpbook{
        margin-top: 40px;
        margin-left: calc(100%/2 - 100px);
        font-size: xx-large;
        font-weight: 500;
     } */

/* .cbooktb table{
        align-items: center;
        margin-top: 20px;
        margin-left: calc(100%/3);
        font-size: x-large;
        font-weight: 500;
        justify-content: space-between;
        background-color: #93A5CF;
       border-color:antiquewhite;
       border-spacing: 5px;
     } */
/* css for user.php */
.pbody {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(77, 70, 71, 0.5), rgba(152, 89, 152, 0.25)), url(photo/cover.jfif);
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

.top {
    background-color: rgb(166, 162, 162);
    height: 100vh;
}

.user {
    background-color: rgb(166, 162, 162);
    height: 100vh;
}

.listpp {
    background-color: rgb(166, 162, 162);
    height: 100vh;
    width: 100%
}

.thank {
    background-image: linear-gradient(135deg, rgba(147, 165, 207, 0.45), rgba(147, 165, 207, 0.65)), url(photo/aboutBg2.jpg);
    background-size: cover;
    height: 200vh;
    align-items: center;
    margin-bottom: 20px;

}

.thank h1 {
    margin-left: 35%;
}

.thank .square {
    position: absolute;
    left: 35%;
    top: 200px;
    width: 360px;
    height: 60%;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    padding-left: 50px;
    font-weight: 500;
    background-color: #93A5CF;

}

.thank table {
    position: absolute;
    left: 15%;
    margin-top: 10px;
    background-color: #93A5CF;
}

.thank .pd {
    margin-top: 50px;
}

.square h3 {
    font-size: xx-large;
    font-weight: 500;

}

.tphp {
    font-size: larger;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 360px;
    height: 50%;
    letter-spacing: normal;
    justify-content: space-between;
    letter-spacing: 2px;
}

.tphp button {
    text-decoration: none;
    margin-right: 20px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(245, 244, 243);
    background: transparent;


}

.tphp button a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: black;
}

.tphp button :hover {
    cursor: pointer;
    opacity: 0.5;
    color: rgb(102, 86, 86);
}

/* .form-submit-button {
        background: #0066A2;
        color: white;
        border-style: outset;
        border-color: #0066A2;
        height: 50px;
        width: 100px;
        font: bold15px arial,sans-serif;
        text-shadow: none;
    } */
/* input[type=button], input[type=submit], input[type=reset] { */
input#go {
    background: transparent;
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
    text-decoration: none;
    margin-right: 0px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(245, 244, 243);
    flex-direction: row;
}

input#go:hover {
    cursor: pointer;
    opacity: 0.5;
    color: rgb(102, 86, 86);
}

.success {
    margin-top: 50%;
}

.dropbtn img {
    margin: 6px 5px 0px 0px;
    border-radius: 50%;
}